html,
body {
  margin: 0;
  height: 100vh;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100%;
}

.box {
  height: 100px;
  font-size: 24px;
  text-align: center;
  user-select: none;
  border: 1px red solid;
  transition: all .3s linear;
}

.drop {
  background-color: darkorange;
  height: 50px;
}

.drop:hover {
  cursor: move;
}
