html,
body {
  margin: 0;
  height: 100%;
}

p {
  font-size: 13px;
  color: #333;
}

hr {
  padding: 2px 0;
  border: none;
  background-color: #eee;
}

/** 最外层容器 */
.outer {
  padding: 12px;
  border-radius: 8px;
  border: 1px #eee solid;
}

/** 盒子容器: .box 直接父级 */
.inner {
  height: 1000px;
}

.container {
  background-color: aquamarine;
  padding: 24px;
  height: 300px;
  overflow: auto;
}

/** 内容块级元素 */
.box {
  height: 100px;
  width: 100px;
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  border: 2px currentColor solid;
  color: #f47d31;
  line-height: 100px;
  text-align: center;
  user-select: none;
}

.box.first {
  background-color: red;
}

.box.second {
  background-color: yellow;
}

.box.third {
  background-color: purple;
}

.box.fourth {
  background-color: green;
}

.box.fifth {
  background-color: cornflowerblue;
}

.pointer {
  cursor: pointer;
}
