@import url('https://unpkg.com/reset-css/reset.css');

html,
body,
.webview-wrapper {
  height: 100%;
}

.wrapper {
  padding: 20px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 200px;
}

.webview-wrapper {
  display: flex;
  flex-direction: column;
}

.webview-wrapper webview {
  flex: 1;
}

.hidden {
  height: 0px;
  /* display: none; */
}

.ant-btn {
  color: #fff;
  border-color: #1890ff;
  background: #1890ff;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px #0000000b;
}

input {
  box-sizing: border-box;
  margin: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  color: #000000d9;
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}
