@import '~@antv/xflow/dist/index.css';
@import './var.less';

// .@{wrapper-prefix} {
.fault-tree-container {
  height: 70vh;
  box-shadow: 0 0 10px 1px #e9e9e9;

  .xflow-app-workspace {
    position: relative;
  }
}
